langchain
langchain-community
langchain-openai
langchain-text-splitters
langchain-huggingface
langchain-groq
langchain-chroma

chromadb
faiss-cpu
duckdb

pypdf
pymupdf
unstructured
bs4
arxiv
wikipedia
youtube_transcript_api
pytube

sentence_transformers
huggingface_hub
validators==0.28.1

pandas
numexpr
mysql-connector-python
SQLAlchemy

# EKLER
pydantic==2.6.1
tiktoken
streamlit
requests
numpy
python-dotenv
ipykernel
